#mainResults {
    .thumbnail {
        width: 100px;
        height: 100px;
    }
}

.popularityContainer {
    position: relative;

    .popularityText {
        position: absolute;
        top: 8px;
        text-align: center;
        width: 40px;
    }
}
