#mainResults {
    .thumbnail {
        width: 100px;
        height: 100px;
    }

    table {
        tr {
            &.hover-highlight:hover {
                background-color: rgb(72, 80, 87);
            }

            &.item-active {
                background-color: rgb(112, 119, 126);
            }
        }
    }
}

.productImage {
    border: 8px solid black;
    margin-top: 12px;
}

.popularityContainer {
    position: relative;

    .popularityText {
        position: absolute;
        top: 8px;
        text-align: center;
        width: 40px;
    }
}

.img-bordered-container {
    border: 10px solid black;

    img.img-bordered {
        border: 5px solid white;
        width: 100%;
        height: auto;
        position: relative;
    }
}